<data-table [tabledata]="employees" allowResize="true" pagesize="20" [data-table-class]="'my-table'">
  <div *data-table-column='let row=data; let rowNo=rowIndex; align:"right"; header: "#";'>
    {{rowNo+1}}
  </div>
  <div *data-table-column='let row=data; let edit=editing; let rowNo=rowIndex; align:"left"; header: "Id";'>
      {{row?.id}}
  </div>
  <div *data-table-column='let row=data; align:"left"; header: "First Name";'>
    {{row?.firstname}}
  </div>
  <div *data-table-column='let row=data; align:"left"; header: "Last Name";'>
    {{row?.lastname}}
  </div>
  <div *data-table-column='let row=data; align:"left"; header: "Position";'>
    {{row?.position}}
  </div>
  <div *data-table-column='let row=data; align:"right"; header: "Vacations";'>
    {{row?.vacations}}
  </div>
  <div *data-table-column='let row=data; let rowno=rowIndex; align:"center";'>
    <button class="table-action-button" (click)="editRow($event, row, rowno)">
      <mat-icon color="primary" class="table-action-icon">edit</mat-icon>
    </button>
    <button class="table-action-button" (click)="deleteRow($event, row, rowno)">
      <mat-icon color="warn" class="table-action-icon">delete</mat-icon>
    </button>
  </div>
</data-table>
<div *ngIf="showModal" class="table-modal">
    <div class="table-modal-content">
      <div class="table-modal-form">
        <div class="table-modal-form-group">
          <label class="table-modal-label">ID</label>
          <input type="text" class="table-modal-input" readonly [(ngModel)]="rowData.id" size="20" maxlength="40">
        </div>
        <div class="table-modal-form-group">
          <label class="table-modal-label">First Name</label>
          <input type="text" class="table-modal-input" [(ngModel)]="rowData.firstname" size="20" maxlength="40">
        </div>
        <div class="table-modal-form-group">
          <label class="table-modal-label">Last Name</label>
          <input type="text" class="table-modal-input" [(ngModel)]="rowData.lastname" size="20" maxlength="40">
        </div>
        <div class="table-modal-form-group">
          <label class="table-modal-label">Position</label>
          <input type="text" class="table-modal-input" [(ngModel)]="rowData.position" size="20" maxlength="40">
        </div>
        <div class="table-modal-form-group">
          <label class="table-modal-label">Vacations</label>
          <input type="number" class="table-modal-input table-modal-input-number" [(ngModel)]="rowData.vacations" size="2"
            maxlength="2">
        </div>
      </div>
        <div class="table-modal-action-bar">
          <button mat-stroked-button color="primary" (click)="apply($event)">Apply</button>
          <button mat-stroked-button color="warn" (click)="discard($event)">Discard</button>
        </div>
  </div>
</div>