<p>
  datatable works!
</p>
<data-table [griddata]="mydata" [showPageNo]="false" allowResize="true" pagesize="20">
  <div *data-table-column='let row=data; align:"left"; header: "Name";'>
    {{row?.name}}
  </div>
  <div *data-table-column='let row=data; align:"left"; header: "Team";'>
    {{row?.team}}
  </div>
  <div *data-table-column='let row=data; align:"left"; header: "Country";'>
    {{row?.country}}
  </div>
  <div *data-table-column='let row=data; align:"left"; header: "Position";'>
    {{row?.position}}
  </div>
</data-table>
