.winner {
    font-weight: normal;
    font-family: "Playfair Display";
    letter-spacing: 2px;
    color: blue;
}

.loser {
    font-weight: normal;
    font-family: "Playfair Display";
    letter-spacing: 2px;
    font-weight: normal;
    color: red;
}

.draw {
    font-weight: normal;
    font-family: "Playfair Display";
    letter-spacing: 2px;
    font-weight: normal;
    color: black;
}

.score {
    font-weight: normal;
    font-family: "Playfair Display";
    letter-spacing: 2px;
    color: #404040;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}


.my-tree-node {
    font-weight: bold;
    font-size: 12px;
    color: teal;
}

.my-tree-leaf {
    font-weight: normal;
    font-size: 14px;
    color: darkslategray;
}

.my-tree-group {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
}

.my-tree-group-a {
    color: darkblue;
}

.my-tree-group-b {
    color: darkgreen;
}

.my-tree-group-c {
    color: darkred;
}

.my-tree-group-d {
    color: darkslategrey;
}

.my-tree-group-e {
    color: darkolivegreen;
}

.my-tree-group-f {
    color: darkslateblue;
}

.my-tree-group-g {
    color: darkorange;
}

.my-tree-group-h {
    color: darkviolet;
}

