.code-editor-container {
    height: 100%; 
    background-color: #1e1e1e;
}

.code-editor-toolbar {
    background-color:darkorange;
}

.button-bar {
    width: 100;
    text-align: right;
}


.codename {
    font-family: "Playfair Display";
    font-size: large;
    letter-spacing: 2px;
}

.mat-button-toggle {
    font-size: small;
    padding-top: 1px;
    padding-bottom: 1px;
}

.mat-button-toggle-checked {
    background-color: goldenrod;
}
