/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'utils.css';

body {
    font-family: 'PT Sans';
}

h1, h2, h3, h4, h5 {
    font-family: 'Concert One';
}

.container {
    padding: 0px 120px;
}
