/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'utils.css';

body {
    font-family: 'PT Sans';
}

h1, h2, h3, h4, h5 {
    font-family: 'Concert One';
}

.container {
    padding: 0px 220px;
}

.container-fluid {
    padding: 0px 30px;
}

.about {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: large;
    letter-spacing: 2px;
}

.sub-title {
    font-family: "Poiret One";
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;
}

.list {
    letter-spacing: 3px;
    padding-bottom: 20px;
}

.list li {
    margin-top: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    float: none;
}

.middle::before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    vertical-align: middle;
}

.middle-me {
    display: inline-block;
    vertical-align: middle;
}

.width100 {
    width: 100%;
}

.height100 {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
}

.tree-leaf-icon {
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin-right: 5px;
    padding: 0px;
    width: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.tree-leaf-icon-doc {
    background-image: url(assets/doc.png);
}

.tree-leaf-icon-js {
    background-image: url(assets/js.png);
}

.tree-leaf-icon-ts {
    background-image: url(assets/ts.png);
}

.tree-leaf-icon-json {
    background-image: url(assets/json.png);
}

.tree-leaf-icon-html {
    background-image: url(assets/html.png);
}

.tree-leaf-icon-css {
    background-image: url(assets/css.png);
}

.my-table {
    font-family: 'PT Sans';
    font-size: 18px;
}

.my-table td {
    padding: 5px 2px 2px 2px;
}

.my-tree-node {
    font-weight: bold;
    font-size: 12px;
    color: teal;
}

.my-tree-leaf {
    font-weight: normal;
    font-size: 14px;
    color: darkslategray;
}

.my-tree-group {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
}

.my-tree-group-a {
    color: darkblue;
}

.my-tree-group-b {
    color: darkgreen;
}

.my-tree-group-c {
    color: darkred;
}

.my-tree-group-d {
    color: darkslategrey;
}

.my-tree-group-e {
    color: darkolivegreen;
}

.my-tree-group-f {
    color: darkslateblue;
}

.my-tree-group-g {
    color: darkorange;
}

.my-tree-group-h {
    color: darkviolet;
}

.bottom-sheet {
    width: 1400px;
    min-width: 1200px;
    max-width: 1900px;
    height: 900px;
    background-color: gray;
}

.section-title {
    color: gray;
    font-family: 'Concert One';
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 5px;
}

.code-sample {
    font-family: monospace;
    padding: 10px 30px;
    margin-bottom: 30px;
    letter-spacing: normal;
    white-space: pre;
    background-color: #f0f0f0;
    border-top: 1px solid darkslategrey;
}



.edit-form {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.edit-input {
    font-family: 'PT Sans';
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 0px;
    padding: 5px;
}

.edit-input-number {
    text-align: right;
}

.edit-form-group {
    box-sizing: border-box;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
}

.edit-label {
    color: #606060;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
}

.prop-table {
    display: table;
    width: 100%;
    border: 1px solid lightgray;
    border-collapse: collapse;
}

.propt-table .row {
    display: table-row;
}

.prop-table .heading, .prop-table .cell {
    display: table-cell;
    border: 1px solid lightgray;
}

.prop-table .heading {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: smaller;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.prop-table .bind {
    width: 20px;
    min-width: 20px;
    vertical-align: middle;
}

.prop-table .label {
    width: 50%;
    padding: 5px;
    vertical-align: middle;
}

.prop-table .value {
    width: 50%;
}

.flex-v {
    display: flex;
    flex-direction: column;
}

.flex-h {
    display: flex;
    flex-direction: row;
}
