/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'utils.css';

body {
    font-family: 'PT Sans';
}

h1, h2, h3, h4, h5 {
    font-family: 'Concert One';
}

.container {
    padding: 0px 220px;
}

.about {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: large;
    letter-spacing: 2px;
}

.sub-title {
    font-family: "Poiret One";
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;
}

.list {
    letter-spacing: 3px;
    padding-bottom: 20px;
}

.list li {
    margin-top: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    float: none;
}

.middle::before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    vertical-align: middle;
}

.middle-me {
    display: inline-block;
    vertical-align: middle;
}

.width100 {
    width: 100%;
}


.tree-leaf-icon {
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin-right: 5px;
    padding: 0px;
    width: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.tree-leaf-icon-doc {
    background-image: url(assets/doc.png);
}

.tree-leaf-icon-js {
    background-image: url(assets/js.png);
}

.tree-leaf-icon-ts {
    background-image: url(assets/ts.png);
}

.tree-leaf-icon-json {
    background-image: url(assets/json.png);
}

.tree-leaf-icon-html {
    background-image: url(assets/html.png);
}

.tree-leaf-icon-css {
    background-image: url(assets/css.png);
}

.my-table {
    font-family: 'PT Sans';
    font-size: 18px;
}

.my-table td {
    padding: 5px 2px 2px 2px;
}

.my-tree-node {
    font-weight: bold;
    font-size: 12px;
    color: teal;
}

.my-tree-leaf {
    font-weight: normal;
    font-size: 14px;
    color: darkslategray;
}

.my-tree-group {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
}

.my-tree-group-a {
    color: darkblue;
}

.my-tree-group-b {
    color: darkgreen;
}

.my-tree-group-c {
    color: darkred;
}

.my-tree-group-d {
    color: darkslategrey;
}

.my-tree-group-e {
    color: darkolivegreen;
}

.my-tree-group-f {
    color: darkslateblue;
}

.my-tree-group-g {
    color: darkorange;
}

.my-tree-group-h {
    color: darkviolet;
}

.bottom-sheet {
    width: 1400px;
    min-width: 1200px;
    max-width: 1900px;
    height: 900px;
    background-color: gray;
}

.section-title {
    color: gray;
    font-family: 'Concert One';
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 5px;
}

.code-sample {
    font-family: monospace;
    padding: 10px 30px;
    letter-spacing: normal;
    white-space: pre;
}
